a {
  color: black;
}

.product-container {
	display:block;
	width: 100%;
	height: 700px;
	// background-color:#475;
	overflow:scroll;
	border-style:solid;
	padding: 10px;
}

.product-image {
	width: 98%;
	height: 300px;
	overflow:scroll;
}

.row {
	max-width: 86%
}

.retailer-image {
	width: 200px;
	height: 200px;
}

td{
    width: 200px;
    max-width: 200px; /* add this */
    height: 50px;
    max-height: 50px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-box-hide {
	display:none;
}