
$product-box: #d6c7d4;

$data-box: #dae2f2;

a {
  color: black;
}

html, body {
  overflow-y:hidden;
  height:100%;
}

body{
	background-color: #efefef;
}


// .animate-match {
// 	animation-timing-function: ease-in-out;
// 	position: relative;
// 	animation-name: animateMatch;
// 	animation-duration: 3s;
// 	animation-fill-mode: forwards;
// }


// @keyframes animateMatch {
//   0%   {left:0px; opacity: 1}
//   25%  {left:25%; opacity: .8}
//   75%  {left:25%; opacity: 0}
//   100%  {left:25%; opacity: 0}
// }


// .animate-match-right {
// 	animation-timing-function: ease-in-out;
// 	position: relative;
// 	animation-name: animateMatchRight;
// 	animation-duration: 3s;
// 	animation-fill-mode: forwards;
// }


// @keyframes animateMatchRight {
//   0%   {left:0px; opacity: 1}
//   25%  {left:-25%; opacity: .8}
//   75%  {left:-25%; opacity: 0}
//   100%  {left:-25%; opacity: 0}
// }



.match-confirm-check {
	position: absolute;
	top: 10%;
	display: block;
	// bottom: 30%;
	text-align: center;
	// right: 50%;
	left: 35%;
	height: 400px;
	width: 400px;
	// background-color: red;
	opacity: 0;
	animation-name: animateConfirmMatch;
	animation-fill-mode: forwards;
	animation-duration: 3s;
}

// @keyframes animateConfirmMatch {
//   0%   {opacity: 0}
//   50%  {opacity: 0}
//   75%  {opacity: .5}
//   100%  {opacity: 1}
// }



.main-tile-container {
	// max-height: 200px;
	height: 597px;
}

.form-container {
	padding-top: 1%;
	max-width: 81%;
	float: center;
}

.align-right {
	float: right;
}

.product-container {
	display:block;
	width: 100%;
	height: 50%;
	max-height: 100%;
	background-color: $product-box;
	border-style:solid;
	border-right-style:none;
	padding: 10px;
	box-shadow: -5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.2);
	z-index: 0;
}

.product-container-right {
	margin-left: -2%;
}

.product-container-left {
	border-right-style:solid;
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.2);
}

.match-selector {
	margin-left:96%;
	// margin-right:-3%;
	// position: relative;
	// max-width: 5%;
	height: 100%;
	background-color: $product-box;
	border-style: solid;
	border-right-style:none;
	border-left-style: none;
	max-width: 90%;
	box-shadow: 0px 5px 10px rgba(0,0,0, 0.2), 0px 5px 10px rgba(0,0,0, 0.2);
}

.img-absolute {
	// position: absolute;
	background-color: white;
	position: float;
	width: 95%;
	border-style: solid;
	max-height: 250px;
	width: 95%;
	max-height: 250px;
}

.product-image {
	margin: auto;
	width: 95%;
	max-height: 250px;
	overflow:scroll;
	overflow-x: hidden;
	z-index: 10;
	border-style: solid;
	background-color: white;
}

.product-image:active {
	transform: scale(1.5); 
	overflow: visible;
	position: relative;
	left: 200px;
	top: 100px;
	border-style: none;
}


.product-image-right {
	margin: auto;
	width: 95%;
	height: 250px;
	overflow:scroll;
	overflow-x: hidden;

	z-index: 10;
	border-style: solid;
}

.product-image-right:active {
	transform: scale(1.5); 
	overflow: visible;
	position: relative;
	left: -200px;
	top: 100px;
	border-style: none;
}




// .table {
// 	max-width: 98%;
// }

.row {
	max-width: 93%
}

.retailer-image {
	padding-top: 20%;
	padding-left: 10%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}


.table-profile {
	max-width: 850px;
	height: 300px;
	max-height: 300px;
	overflow: auto;
	text-align: center;
}

.center-er {
	align: center;
}

.td-profile {
	align: center;
	text-align: center;
    width: 200px;
    max-width: 200px;
    height: 20px;
    // max-height: 20px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.retailer-image-profile {
	width: 100px;
	height: 100px;
}

.data-box {
	margin: auto;
	// width: 98%;
	height: 250px;
	background-color: $data-box;
	border-style: solid;
	border-bottom-style: none;
	overflow:auto;
	overflow-x: hidden;
}

.data-box-hide {
	display:none;
}

.data-box-show {
	
}

.data-buttons {
	margin: auto;
	// width: 98%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-top: -25px;
	padding-bottom: 2px;
}

.data-button {
	font-weight: bold;
	height: 50px;
	border-top-style: solid;
	text-align: center; 
	padding-top: 2%;
	text-decoration: none;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.data-button:hover {
	background-color: yellow;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.selected-button {
	background-color: #dae2f2;
	border-style: solid;
	border-top-style: none;
}

.selected-button:hover {
	background-color: $data-box;
	border-style: solid;
	border-top-style: none;
}

#hide-scroll::-webkit-scrollbar {
    width: 20px;
    background-color: #000000;
} 

#hide-scroll::-webkit-scrollbar-thumb {
    background-color: #c3ddd8;
}


#hidden-scroll::-webkit-scrollbar {
    width: 0px;
}



.match-select {
	// width: 110%;
	// max-width: 100%;
	padding-top: 87%;
	background-color: #91bbff;
	height: 20%;
	max-height: 100%;
	// position: relative;
	// left: -20%;
	// overflow: hidden;
	// padding: 20%;
	// padding-top: 20%;
	border-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	border-left: solid 14px;
	z-index: 100;

	// padding-bottom: 1%;
}

.match-selected {
	border-style: solid;
	border-left-style: none;
	background-color: $product-box;
}

.match-select:hover {
	background-color: orange;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.match-selected:hover {
	background-color: $product-box;
}

.match-select-remove-top {
	border-top-style: none;
}

.match-select-remove-bottom {
	border-bottom-style: none;
}

.data-tile-table {
	align: center;
	width: 100%;
}

.more-details {
	text-align: center;
}



.login-row {
	max-width: 80%;
	text-align: center;
	margin-top: 2%;
	margin-left: 10%;
	border-style: dotted;
	padding: 2%;
}

.login-header {
	max-width: 80%;
	text-align: center;
	margin-left: 10%;
	padding: 2%;
}

.accent-text {
	color: #1b4a96;
}

.comment-text {
	width: 300px;
	height: 90px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	resize: none;
}

.submit-buttons {
	padding-top: 3%;
}

.submit-button {
    max-width: 200px;
    text-align: center;
    margin-left: 17px;
    border-style: solid;
}

.submit-match-found {
	background-color: #a3e585;
	color: black;
}

.submit-match-found:hover {
	background-color: #2a5b01;
}

.submit-no-match {
	background-color: #ff2d2d;
	border-style: solid;
}

.submit-no-match:hover {
	background-color: #840000;
}

.drop-shadow {
	box-shadow: -5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.2);
}
